
services:
  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
      args:
        NEXT_PUBLIC_API_BASE: http://localhost:8050
    restart: always
    ports:
      - "3050:3000"
    environment:
      - NEXT_PUBLIC_API_BASE=http://localhost:8050
      - TELXIO_PUBLIC_KEY=${TELXIO_PUBLIC_KEY}
      - TELXIO_PRIVATE_KEY=${TELXIO_PRIVATE_KEY}
      - TELXIO_BASE_URL=${TELXIO_BASE_URL}
      - TELXIO_ACCOUNT_ID=${TELXIO_ACCOUNT_ID}
      - TELXIO_ACCOUNT_FALLBACK=${TELXIO_ACCOUNT_FALLBACK}
      - TELXIO_PLAN_FALLBACK=${TELXIO_PLAN_FALLBACK}
      - TELXIO_EXTENSIONS_FALLBACK=${TELXIO_EXTENSIONS_FALLBACK}
      - TELXIO_NUMBERS_FALLBACK=${TELXIO_NUMBERS_FALLBACK}
      - TELXIO_BYPASS=${TELXIO_BYPASS}
      - TELXIO_AUTHORIZATION=${TELXIO_AUTHORIZATION}
      - TELXIO_COOKIE=${TELXIO_COOKIE}
      - TELXIO_ACCOUNT_IDS=${TELXIO_ACCOUNT_IDS}
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    restart: always
    ports:
      - "4050:4000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=redis://redis:6379
      - PORT=4000
      - CORS_ORIGIN=http://localhost:8050


  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "8050:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - backend
      - frontend


