version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
      args:
        NEXT_PUBLIC_API_BASE: http://localhost:8050
    restart: always
    ports:
      - "3050:3000"
    environment:
      - NEXT_PUBLIC_API_BASE=http://localhost:8050
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    restart: always
    ports:
      - "4050:4000"
    environment:
      - DATABASE_URL=mysql://demandify:Demandify%40765@192.168.0.238:3306/demandify_db
      - REDIS_URL=redis://redis:6379
      - PORT=4000
      - CORS_ORIGIN=http://localhost:8050
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "8050:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - backend
      - frontend

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Demandify@765
      MYSQL_DATABASE: demandify_db
      MYSQL_USER: demandify
      MYSQL_PASSWORD: Demandify@765
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
